html, body {
    height: 100%;
    background: #e6ecf1;
}
#twitter-posts{
    height: 100%;
    padding-top: 0px;
    text-align: center;
}
.card{
    max-width: 500px;
    margin: 0 auto;
    border-radius: 0;
    background-color: #fff;
}
.title{
    font-size: 20px;
    padding-top: 25px;
}
.form-control {
    width: 90%;
    border: 0;
    border-bottom: 1px solid red;
    padding: 10px 0;
    outline: 0;
}
p{
    font-size: 13px;
    padding-bottom: 15px;

}
.delete-card{
    font-size: 20px;
    float: right;
    padding-right: 5px;
    font-weight: 900;
    cursor: pointer;
}
.button{
   position: absolute;
    top: 10px;
    left: 10px;

}
.modal{
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 0;
    border: 1px solid black;
    transform: translate(-50%, -100%);
    transition: 0.4s;
}
.modal.show{
    top: 50%;
}
.delete{
    font-size: 20px;
    float: right;
    padding-right: 5px;
    font-weight: 900;
    cursor: pointer;
}